PORT=3000
NODE_ENV=development
JWT_ACCESS_SECRET=MYSECRETACCESSKEY
JWT_REFRESH_SECRET=MYSECRETREFRESHKEY
REFRESH_TOKEN_HMAC_SECRET=MYSECRETHMACKEY
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

# DRIZZLE
DATABASE_URL="postgresql://postgres:postgres@db-url:6543/postgres"

# SUPABASE
SUPABASE_BUCKET_URL=SUPABASEBUCKETURL
SUPABASE_BUCKET_SECRET_KEY=SUPABASEBUCKETSECRETKEY
SUPABASE_BUCKET_NAME=SUPABASEBUCKETNAME
