@import "tailwindcss";

html {
  min-height: calc(100% + env(safe-area-inset-top));
  background-color: #ffffff;
  position: fixed;
  overflow: hidden;
}

body {
  padding-bottom: env(safe-area-inset-bottom);
  overflow: hidden;
}

@supports (padding: env(safe-area-inset-top)) {
  body::before {
    content: '';
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: env(safe-area-inset-top);
    mask: linear-gradient(
      to bottom,
      black,
      black 50%,
      rgba(0, 0, 0, 0.7) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}